<mat-tab-group dynamicHeight>
    <mat-tab label="Dashboard">
        <div class="top-padding"></div>
        <app-expense-chart></app-expense-chart>
    </mat-tab>
    <mat-tab label="Add Expense">
        <div class="top-padding"></div>
        <div class="example-large-box mat-elevation-z4">
            <app-add-expense></app-add-expense>
        </div>
    </mat-tab>

    <mat-tab label="Find Expense">
        <div class="top-padding"></div>
        <app-find-expense></app-find-expense>
    </mat-tab>
</mat-tab-group>